/**
 * Created by vuquyettam (TT97IT)
 * Date: 12/18/13
 * Time: 11:13 AM
 */
body .anbu {font-size:12px !important;font-family:Arial,sans-serif!important;}
body #anbu-open-tabs li:first-child {margin-left:0 !important;}
body .anbu-tabs {background:none !important;}
body .anbu-tabs a.doc {display:none}

#sortable { list-style-type: none;     margin-left: 21px; padding: 0;width: 100% }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 12px; text-align: center; border: 1px solid black; color: white;text-shadow: 2px 2px 8px #ffffff;}
